# Ignore cache folders
__pycache__/
*/__pycache__/
classes/__pycache__/

# Ignore specific folders
database/
auth/

# Ignore specific files
*.db
*.env
*.json
*.pyc

# Byte-compiled / optimized / DLL files
*.pyc

# End of .gitignore